.home_container{
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 100px 100px; */
  gap: 50px;
 padding: 10px;
    background-color: aqua;
    padding-top: 50px;
}
.card{
    background-color: white;
    border-radius: 10px;
    height: 160px;
    width: 320px;
    box-shadow: 0 0 10px balck;
    display: flex;
    padding: 10px;
}
.user{
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  text-align: center;
}
.follow1{
  /* background-color: rgb(140, 175, 198); */
  width: 140px;
  height: auto;
  display: flex;
  gap: 10px;
  margin-top: 2px;
  padding-top: 0;
}
.follow2{
  /* background-color: rgb(140, 175, 198); */
  width: 140px;
  height: auto;
  display: flex;
  gap: 50px;
  margin-top: 2px;
  padding-top: 0;
}
span{
  font-size: 12px;
}
.follow_card{
  background-color: rgb(140, 175, 198);
  padding: 10px;
  border-radius: 5px;
}
.navbar{
  padding-left: 10vw;
  background-color: black;
  color: yellow;
  text-align: center;
  padding: 20px;
}
button{
  width: 100px;
  height: 40px;
  font-size: medium;
  background-color: rgb(190, 132, 14);
  margin-left: 20px;
}
.navbar >h1{
  color: rgb(190, 132, 14);
  font-size: 50px;
}