.login_form{
    width: 40vw;
    height: 50vh;
   
   background-color: aliceblue;
   color: rgb(65, 172, 154);
   display: flex;
   padding-left: 100px;
   padding-top: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
   flex-direction: column;

}
input{
    margin-left: 20px;
    width: 250px;
}
button{
    margin-top: 10px;
    width: 400px;
    height: 40px;
    color: aliceblue;
    background-color: rgb(65, 172, 154); 
    font-size: larger;
    border: none;
    border-radius: 10px;
}
.main{
    background-color:rgb(65, 172, 154);
    padding-left: 50vh;
    padding-top: 20vh;
    height: 100vh;
}